{
	"plugins": [
		"prettier",
		"@typescript-eslint"
	],
	"extends": [
		"airbnb-typescript",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"object-curly-spacing": [
			"warn",
			"always"
		],
		"@typescript-eslint/semi": [
			"warn",
			"always"
		],
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-explicit-any": [
			"error",
			{
				"ignoreRestArgs": true
			}
		],
		"max-len": [
			"warn",
			{
				"code": 100,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreComments": true
			}
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"react/jsx-key": "error",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.test.js",
					"**/*.test.jsx",
					"**/*.test.ts",
					"**/*.test.tsx",
					"src/tests/**/*"
				]
			}
		],
		"import/prefer-default-export": 0,
		"no-case-declarations": 0,
		"@typescript-eslint/comma-dangle": [
			"warn",
			{
				"arrays": "only-multiline",
				"objects": "only-multiline",
				"imports": "only-multiline",
				"exports": "only-multiline",
				"functions": "never"
			}
		],
		"no-console": 0,
		"no-await-in-loop": 0,
		"no-param-reassign": 0,
		"quotes": [
			"warn",
			"single"
		]
	},
	"settings": {
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true
			}
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	}
}